# ROS 2 Jazzy Requirements for Yahboom R2 Simulation
# You can install these packages using the following command:
# sudo apt install $(cat requirements.txt | grep -v "#")

ros-jazzy-xacro
ros-jazzy-ros-gz
ros-jazzy-slam-toolbox
ros-jazzy-robot-state-publisher
ros-jazzy-rviz2
ros-jazzy-joint-state-publisher
ros-jazzy-nav2-bringup
ros-jazzy-navigation2
