<?xml version="1.0"?>
<robot name="yahboomcar_r2_sim" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Manufacturer chassis description -->
    <xacro:include filename="$(find yahboomcar_description)/urdf/yahboomcar_R2.urdf.xacro" />

    <!-- Gazebo simulation plugin macros -->
    <xacro:include filename="$(find yahboomcar_description)/urdf/plugins/lidar_sensor.xacro" />
    <xacro:include filename="$(find yahboomcar_description)/urdf/plugins/ackermann_steering.xacro" />
    <xacro:include filename="$(find yahboomcar_description)/urdf/plugins/joint_state_publisher.xacro" />
    <xacro:include filename="$(find yahboomcar_description)/urdf/plugins/camera_sensor.xacro" />
    <xacro:include filename="$(find yahboomcar_description)/urdf/plugins/imu_sensor.xacro" />

    <!-- Macro instantiations -->
    <xacro:init_lidar_sensor sensor_link="laser_link"/>
    <xacro:init_ackermann_steering />
    <xacro:init_joint_state_publisher />
    <xacro:init_camera_sensor sensor_link="camera_link"/>
    <xacro:init_imu_sensor sensor_link="imu_link"/>

</robot>